@model CrudApp.Models.UserModel

<h1>Confirmar ação</h1>
<p>Tem certeza que você quer deletar esse usuário?</p>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <button class="btn btn-primary" type="submit">Deletar</button> &nbsp;&nbsp;&nbsp;
    <a asp-action="Index">Cancelar</a>
</form>
