@{
    ViewData["Title"] = "About Project";
}
<h1>@ViewData["Title"]</h1>

<p>
    Essa simples aplicação é parte do meu portfólio pessoal. Ela foi desenvolvida em 
    <span style="color: blueviolet;"><strong>ASP.NET Core</strong></span> e
    <span style="color: blue;"><strong>Bootstrap</strong></span>. O projeto foi hospedado em um servidor
    <strong>VPS</strong> e utiliza o banco de dados SQLite.
</p>

<p>
    Um dos destaques dessa aplicação é a implementação de um pipeline de CI/CD (Integração Contínua e Entrega Contínua). 
    Configurei o pipeline no GitHub Actions para automatizar o build, os testes e o deploy da aplicação, tornando o fluxo 
    do deploy mais ágil e eficiente nas atualizações.
</p>

<p>
    O principal objetivo dessa aplicação foi adquirir mais conhecimento prático no desenvolvimento de aplicações CRUD usando 
    o .NET Core e em hospedagem e automação de processos de entrega com CI/CD.
</p>